* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  height: 100vh;
  background-image: url("bg.jpg");
  background-size: 30%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  min-width: 55vw;
  height: 90vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 3rem 5rem 5rem;
  align-items: center;
  border: none;
  backdrop-filter: blur(5px) saturate(70%);
}
.App h1 {
  color: #030303;
  text-shadow: 1px 1px 15px #08014d;
  font-weight: 600;
  text-align: center;
  font-size: 50px;
}
.window {
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(30px) saturate(20%);
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2),
    0 32px 64px -48px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 10px;
}
form input {
  width: 300px;
  height: 45px;
  outline: 1px solid #3f2fd3ab;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
form input:focus {
  outline-color: #333333cd;
}
form input,
.button {
  color: #281e85;
  background-color: #bad7ff;
  border-radius: 5px;
  font-weight: 700;
}
.button {
  padding: 0.67rem 4.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.333rem;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.9;
}
.button:active {
  box-shadow: inset 0px 2px 8px #757383;
}
.button:focus {
  box-shadow: inset 0px 2px 8px #524899;
  border: 2px solid #1e1b3a; /* Change to your desired color */
  background-color: #5f5986; /* Optional: change background on click */
}
.Play {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Play p {
  width: 33vw;
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  text-wrap: wrap;
  text-transform: capitalize;
}
.Questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.endscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.endscreen p {
  text-transform: capitalize;
  width: 80%;
  font-size: 2vw;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
  text-wrap: wrap;
}
.endscreen p span {
  font-weight: 600;
  color: #030303;
  text-shadow: 1px 1px 15px #ffffff;
}
.fail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.fail p {
  text-shadow: 1px 1px 15px #ffffff;
}
.fail button,
.fail p {
  font-weight: 700;
  color: #740303;
}
.fail button {
  outline: 3px solid #740303;
}
